.colorsGrid button{
  width: 50px;
}
.dimensions input{
  width: 70px;
}
.clearBtn{
  float: right;
  margin-right: 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 100px;
    height: 25px;

}