.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.canvas-view{
  padding: 10px 0;
  box-sizing: border-box;
  width: 60%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  overflow: hidden;
}
.leftpanel{
  padding: 10px;
  box-sizing: border-box;
  width: 19%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  display: block;
}
.rightpanel{
  padding: 10px;
  box-sizing: border-box;
  width: 19%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  display: block;
}
button{
  width: 120px;
}